@use '../mixins.scss';
@import '../variables.scss';

.header-middle :global {
    display: none;
}

@media (min-width: 1280px) {
    .header-middle :global {
        display: block;
        font-family: 'Inter';

        .menu {
            display: flex;
            justify-content: space-between;
            align-items: center;

            &__item {
                display: inline-block;
                position: relative;
                padding: 2px 5px;
            }

            &__item a {
                color: $color01;
                @include mixins.caption02();
                display: inline-block;
                padding: 6px 15px;
                border-radius: 28px;
                background-color: $color07;

                &:active {
                    color: $color03;
                }
            }
            .nest__item{
                position: relative;
                padding: 6px 5px;
                display: flex;
                align-items: center;
                justify-content: space-between;
                cursor: pointer;
                &:not(:last-child){
                    margin-bottom: 10px;
                }
                p{
                    font-size: 16px;
                    line-height: 22px;
                    padding: 0 0 0 15px;
                }
                &:hover{
                    background-color: $color07;
                }
            }
            margin-bottom: 32px;
        }

        .menu__btn {
            color: $color01;
            @include mixins.caption02();
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 6px 15px;
            border-radius: 28px;
            background-color: $color07;
            cursor: pointer;
            border: none;
            outline: none;
            position: relative;
            &.active {
                color: $color03;
            }
            .menu__btn-symbol::after{
                position: absolute;
                right: 6px;
                top:2px;
                content: "\00AB";
                transform: rotate(-90deg);
            }
            
        }

        .extra {
            position: relative;

            nav {
                position: absolute;
                display: none;
                top: calc(100%);
                left: 0;
                width: 100%;
                transition: display 0.4s ease;
                // transform: scale(0);
                // transform-origin: top left;
                z-index: 999;
                &.open {
                    display: block;
                }
                &.menu__extra-nest-nav{
                    display: block;
                    // transform: scale(1);
                    top: 0;
                    left: calc(100% + 2px);
                    width: 100%;

                    >ul {
                        background-color: $color00;
                        border: 1px solid $color06;
                        box-shadow: 0px 3px 15px $color05;
                        border-radius: 4px;
                        padding: 13px 1px;
                        width:calc(100% + 100px);
                        display: flex;
                        flex-direction: column;
                        align-items:start;
                    }
                }
                ul {
                    background: $color00;
                    border: 1px solid $color06;
                    box-shadow: 0px 3px 15px $color05;
                    border-radius: 4px;
                    padding: 5px 3px;
                    width: 100%;
                    li {
                        width: 100%;

                        &:not(:last-of-type) a {
                            margin-bottom: 10px;
                        }
                        &:not(:last-of-type) .span {
                            margin-bottom: 10px;
                        }
                    }

                    li a {
                        border-radius: 0;
                        // padding: 7px 18px;
                        background-color: $color00;
                        @include mixins.caption02();
                        transition: background-color;
                        width: 100%;
                        height: 100%;
                        display: block;
                        &:hover {
                            background-color: $color07;
                        }
                    }
                    li .span {
                        cursor: pointer;
                        border-radius: 0;
                        padding: 7px 18px;
                        background-color: $color00;
                        @include mixins.caption02();
                        transition: background-color;
                        width: 100%;
                        height: 100%;
                        &:hover {
                            background-color: $color07;
                        }
                    }
                }
            }
        }
    }
}
