@use "../_mixins.scss";
// @import "../_default.scss";
@import "../_variables.scss";

.graduate :global {
  font-family: "Inter";
  margin: 64px 0;

  .graduate__title {
    @include mixins.title01();
    margin-bottom: 14px;
  }

  .graduate__text {
    @include mixins.text02();
    margin-bottom: 10px;
  }

  .graduate__types {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
    border-bottom: 1px solid $color06;
    margin-bottom: 16px;

    li {
      @include mixins.caption04();
      color: $color04;
      position: relative;
      transition: color 0.3s ease;
      cursor: pointer;

      &.active {
        color: $color01;

        &::after {
          transform: scaleX(1);
        }
      }

      &::after {
        content: "";
        position: absolute;
        bottom: -16px;
        left: 0;
        width: 100%;
        height: 2px;
        background-color: $color02;
        transition: transform 0.4s ease;
        transform-origin: left;
        transform: scaleX(0);
      }
    }
  }

  .graduate__img {
    img {
      width: 100%;
    }
  }
}

@media (min-width: 1280px) {
  .graduate :global {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .graduate__info {
      width: 592px;
    }

    .graduate__title {
      margin-bottom: 27px;
    }

    .graduate__text {
      margin-bottom: 39px;
    }

    .graduate__img {
      flex-basis: 488px;
      height: 344px;
    }

    .graduate__types {
      width: 400px;
    }
  }
}
